html,body{width: 100%;height: 100%;}
.loading-bg{width: 100%;height: 100%; min-width: 1200px; overflow: hidden;}
.loading-bg{background: url(/images/loading_bg.jpg) top center no-repeat;}
.loading-bg .mid { width: 1200px;height: 100%; margin: 0 auto; position: relative; font-size: 16px; font-family: 'Î¢ÈíÑÅºÚ', 'ËÎÌå'; }
.loading-bg .logo{margin: 0 auto;padding-top: 45px; position: relative;width: 437px; height: 103px; background: url(http://i0.cy.com/kzgj/main/2019/0624/logo.png) center no-repeat;}
.logo .logo-btn{position: absolute; top: 39px; height: 91px;}
.logo .logo-1{left: 0px;   width: 86px;}
.logo .logo-2{left: 97px;   width: 205px;}
.logo .logo-3{left: 312px;   width: 118px;}
.loading-box{margin-top: 244px; position: relative;}
.loading-box .loading-txt{ height: 30px;line-height: 30px;color: #ffffff;font-size:30px; font-weight: bold;text-align: center;}
.loading-txt ul { height: 30px;  line-height: 30px; display: inline-block;}
.loading-txt ul li{float: left; margin: 0 22px;}
/*.loading-txt ul li.a{animation: jump 4s linear infinite;}
.loading-txt ul li.b{animation: jump 4s 0.4s linear infinite;}
.loading-txt ul li.c{animation: jump 4s 0.8s linear infinite;}
.loading-txt ul li.d{animation: jump 4s 1.2s linear infinite;}
.loading-txt ul li.e{animation: jump 4s 1.6s linear infinite;}
.loading-txt ul li.f{animation: jump 4s 2s linear infinite;}
.loading-txt ul li.g{animation: jump 4s 2.4s linear infinite;}
.loading-txt ul li.h{animation: jump 4s 2.8s linear infinite;}
.loading-txt ul li.i{animation: jump 4s 3.2s linear infinite;}
.loading-txt ul li.j{animation: jump 4s 3.6s linear infinite;}*/
.loading-box .loading-line{position: absolute; width: 1200px; height: 2px;background-color: #ffffff;top: 106px;}
.loading-box .loading-line.left{margin-left: 2000px;}
.loading-box .loading-line.right{margin-left: -2000px;}
/* .loading-box .loading-line.left{animation: move1 4s linear infinite;}
.loading-box .loading-line.right{animation: move2 4s linear infinite;} */
.loading-box .loading-icon-box{margin-top: 37px; height: 110px;position: relative;}
.loading-icon-box .loading-icon-bg{margin: 0 auto;width: 78px;height: 78px; position: relative;}
.loading-icon-box .loading-icon{width: 78px;height: 78px; background: url(/images/loading_icon.png) center no-repeat;}
.loading-icon-box .loading-icon{animation: spin 4s infinite steps(8);}
.loading-icon-box .loading-num{position: absolute;top: 0;left: 50%;transform: translate(-50%, -11px);font-size: 28px;font-weight: bold; color: #ffffff; line-height: 100px; height: 100px;}
.loading-icon-box .loading-icon-txt{margin: 0 auto; padding: 10px 0; width: 88px;height: 23px; background: url(/images/loading_txt.png) center no-repeat;}


@keyframes jump {
 0%{transform: translateY(0px); -webkit-transform: translateY(0px);}
 5% {transform: translateY(-100px); -webkit-transform: translateY(-100px);}
 10%,100%{transform: translateY(0px); -webkit-transform: translateY(0px);}
}
@-webkit-keyframes jump {
 0%{transform: translateY(0px); -webkit-transform: translateY(0px);}
 5% {transform: translateY(-100px); -webkit-transform: translateY(-100px);}
 10%,100%{transform: translateY(0px); -webkit-transform: translateY(0px);}
}
/* @keyframes shadow {
 0%{transform: translateY(0px);}
 50% {transform: translateY(-100px);}
 100%{transform: translateY(0px);}
} */
@keyframes spin {
  0% {transform: rotate(360deg); -webkit-transform: rotate(360deg);}
  100% {transform: rotate(0deg); -webkit-transform: rotate(0deg);} 
}
@-webkit-keyframes spin {
  0% {transform: rotate(360deg); -webkit-transform: rotate(360deg);}
  100% {transform: rotate(0deg); -webkit-transform: rotate(0deg);} 
}

@keyframes move1 {
  0% {transform: translateX(50%);}
  80%,100% {transform: translateX(36px);}
}

@keyframes move2 {
  0% {transform: translateX(-50%);}
  80%,100% {transform: translateX(-36px);}
}

